@charset "utf-8";
/* CSS Document */

#video-html {
  	margin: 0;
	background-color: #19191C;
}

.video2 {
	width: 40%;
	margin: 5%;
}

#video1{
	width: 90%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

#title {
	position: absolute;
	color: white;
	background-color: rgba(20,20,20,0.27);
	padding: 10px;
	bottom: 2%;
	font-size: 3vw;
}

/*-----------------*/

footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #19191C;
}

article {
	width: 125px;
	height: 100px;
	border: solid 1px #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2 {
	color: white;
}

#left {
	color: blue;
}



